@tailwind base;
@tailwind components;
@tailwind utilities;

.rws-container {
  background-color: white !important;
  color: black !important;
}

/* Custom class to hide horizontal scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Webkit browsers */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}
